<form id="edit-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">


    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Years')}:</label>
        <div class="col-xs-12 col-sm-2">
            <!-- <input id="c-years" data-rule="required" class="form-control" name="row[years]" type="number" value="{$row.years|htmlentities}"> -->
            <select id="c-years" data-rule="required" class="form-control selectpicker" name="row[years]">
                {foreach name="years" item="vo"}
                    <option value="{$key}" {in name="key" value="$row.years"}selected{/in}>{$vo}</option>
                {/foreach}
            </select>
        </div>
        <div class="col-xs-12 col-sm-2">
            <!-- <input id="c-month" data-rule="required" class="form-control" name="row[month]" type="number"> -->
            <select id="c-month" data-rule="required" class="form-control selectpicker" name="row[month]">
                {foreach name="month" item="vo"}
                    <option value="{$key}" {in name="key" value="$row.month"}selected{/in}>{$vo}</option>
                {/foreach}
            </select>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Employees_id')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-employees_id" disabled="disabled" data-rule="required" data-source="employees/employees/index" class="form-control selectpage" name="row[employees_id]" type="text" value="{$row.employees_id|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Employees_process_wage')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-employees_process_wage" readonly unselectable='on' data-rule="required" class="form-control" step="0.01" name="row[employees_process_wage]" type="number" value="{$row.employees_process_wage|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Employees_basis_wage')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-employees_basis_wage" data-rule="required" class="form-control" step="0.01" name="row[employees_basis_wage]" type="number" value="{$row.employees_basis_wage|htmlentities}">
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Five_insurance')}:</label>
        <div class="col-xs-12 col-sm-5">
            <input id="c-five_insurance" readonly unselectable='on' data-rule="required" class="form-control" step="0.01" name="row[five_insurance]" type="number" value="{$row.five_insurance|htmlentities}">
        </div>
        <div id="tishi"><span role="alert" class="msg-wrap n-error">*<span class="n-msg">({$row.five_ratio|htmlentities}/100)x{$row.wage_base|htmlentities}</span></span></div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Month_fill')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-month_fill" data-rule="required" class="form-control" step="0.01" name="row[month_fill]" type="number" value="{$row.month_fill|htmlentities}">
        </div>
    </div>
    <!-- <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Hous_fill')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-hous_fill" data-rule="required" class="form-control" step="0.01" name="row[hous_fill]" type="number" value="{$row.hous_fill|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Rice_fill')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-rice_fill" data-rule="required" class="form-control" step="0.01" name="row[rice_fill]" type="number" value="{$row.rice_fill|htmlentities}">
        </div>
    </div> -->
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Json')}:</label>
        <div class="col-xs-12 col-sm-8">
            
            <dl class="fieldlist" data-name="row[json]">
                <dd>
                    <ins>{:__('Json key')}</ins>
                    <ins>{:__('Json value')}</ins>
                </dd>
                <dd><a href="javascript:;" class="btn btn-sm btn-success btn-append"><i class="fa fa-plus"></i> {:__('Append')}</a></dd>
                <textarea name="row[json]" class="form-control hide" cols="30" rows="5">{$row.json|htmlentities}</textarea>
            </dl>


        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Total_amount')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-total_amount" data-rule="required" class="form-control" step="0.01" name="row[total_amount]" type="number" value="{$row.total_amount|htmlentities}">
        </div>
    </div>
    <!-- <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Years')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-years" data-rule="required" class="form-control" name="row[years]" type="number" value="{$row.years|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Month')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-month" data-rule="required" class="form-control" name="row[month]" type="number" value="{$row.month|htmlentities}">
        </div>
    </div> -->
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>
