<form id="edit-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Dates')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-dates" data-rule="required" class="form-control datetimepicker" data-date-format="YYYY-MM-DD" data-use-current="true" name="row[dates]" type="text" value="{$row.dates}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Employees_id')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-employees_id" data-rule="required" data-source="employees/index" class="form-control selectpage" name="row[employees_id]" type="text" value="{$row.employees_id|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Product_id')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-product_id" data-rule="required" data-source="product/index" class="form-control selectpage" name="row[product_id]" type="text" value="{$row.product_id|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Process_id')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-process_id" data-rule="required" data-source="process/index" class="form-control selectpage" name="row[process_id]" type="text" value="{$row.process_id|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Process_price')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-process_price" data-rule="required" class="form-control" step="0.01" name="row[process_price]" type="number" value="{$row.process_price|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Process_num')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-process_num" data-rule="required" class="form-control" name="row[process_num]" type="number" value="{$row.process_num|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Total_amount')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-total_amount" data-rule="required" class="form-control" step="0.01" name="row[total_amount]" type="number" value="{$row.total_amount|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Text')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-text" class="form-control" name="row[text]" type="text" value="{$row.text|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Years')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-years" data-rule="required" class="form-control" name="row[years]" type="number" value="{$row.years|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Month')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-month" data-rule="required" class="form-control" name="row[month]" type="number" value="{$row.month|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Day')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-day" data-rule="required" class="form-control" name="row[day]" type="number" value="{$row.day|htmlentities}">
        </div>
    </div>
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>
